{% extends "layout.html" %}
{% block body %}
<h2>{{ module.name }}/{{ function.name }}</h2>
<form>
    {% for arg in function.args %}
    <div class="arg">
        <label for="{{ arg.name }}">{{ arg.name }}</label>
        <input id="{{ arg.name }}" name="{{ arg.name }}" type="{{ arg.html_input_type }}" value="{{ arg.html_input_value }}" required />
    </div>
    {% endfor %}
    {% for kwarg in function.kwargs %}
    <div class="kwarg">
        <label for="{{ kwarg.name }}">{{ kwarg.name }}</label>
        <input id="{{ kwarg.name }}" name="{{ kwarg.name }}" type="{{ kwarg.html_input_type }}" value="{{ kwarg.html_input_value }}" />
    </div>
    {% endfor %}
    <div>
        <div>
            <button type="submit">execute</button>
        </div>
    </div>
</form>
<div>
    {{ result|safe }}
</div>
{% endblock %}
