<form action="/{{ module.name }}/{{ function.name }}">
    <fieldset class="fieldset">
        <legend>{{ function.name }}</legend>
        <p>{{ function.doc if function.doc is not none else "Please add a function docstring."}}</p>
        {% for arg in function.args %}
        <label for="{{ arg.name }}">{{ arg.name }}
            <input id="{{ arg.name }}" name="{{ arg.name }}" type="{{ arg.html_input_type }}" value="{{ arg.html_input_value }}" required />
        </label>
        {% endfor %}
        {% for kwarg in function.kwargs %}
        <label for="{{ kwarg.name }}">{{ kwarg.name }}
            <input id="{{ kwarg.name }}" name="{{ kwarg.name }}" type="{{ kwarg.html_input_type }}" value="{{ kwarg.html_input_value }}" />
        </label>
        {% endfor %}
        <button class="button" type="submit">execute</button>
    </fieldset>
</form>
